.login-link-text {
  color: #e96656;
  text-decoration: none !important;
}

.login-link-text:hover {
  color: #e96656;
}

.navbar-brand {
  color: #fff !important;
  font-weight: bold;
  font-size: 14px;
  text-transform: capitalize;
}

.center {
  text-align: center;
}

.col-xs-6 {
  padding: 2em;
  font-size: 18px;
  height: auto;
  vertical-align: middle !important;
  margin-bottom: 1em;
}

.nav > li {
  color: #fff;
}

.nav > li:hover {
  background-color: #000;
}

.login-form {
  margin-top: 7em;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #eee;
  padding: 3em;
}

.login-form h4 {
  font-weight: bold;
}

.list-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
}

.list-group-item {
  margin: 2px;
  justify-content: space-around;
}

.request-btn {
  border-radius: 0px;
  opacity: 0.5;
}

.glyphicon-remove {
  color: red;
}

.glyphicon-ok {
  color: green;
}

.glyphicon-remove, .glyphicon-ok  {
  opacity: 0.4;
  cursor: pointer;
  margin-left: 5px;
}

.glyphicon-remove:hover, .glyphicon-ok:hover, .request-btn:hover  {
  opacity: 0.8;
}

.navbar-fixed-bottom {
  padding-top: 10px;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 12px;
}
